<h4>Internal Server Error</h4>
@if (error) {
    <h5 class="text-danger"> Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this error, Angular is not to be blamed!</p>
    <p>What to do next?</p>
    <ol>
        <li>Open chrome dev tool and check the network tab</li>
        <li>Examine url of the request made</li>
        <li>Try to reproduce the error in postman</li>
    </ol>
    <p>Following is the stack trace...</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
}